{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name=”robots” content="index, follow">
        <link rel="canonical" href="{{ request.build_absolute_uri }}" />
        <title>Kokoroyin: {% block title %}{% endblock title %}</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
        {% block style %}{% endblock style%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        {% block js-header %} {% endblock %} 
        {% block css-header %} {% endblock %} 
    </head>
  <body>
      <div class="">
        {% include 'includes/nav.html' %}
      </div>
      
      <main class="bg-light pt-lg-5">
          {% include 'includes/message.html' %}
        {% block content %}
        {% endblock %}
      </main>
      {% include 'includes/footer.html' %}
    {% block js-footer %} {% endblock %} <!-- page specific javascript-->
  </body>
</html>
